{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
    <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-5">

                    <h1 class="text-white mb-4">ورود</h1>
                    <form method="post" action="{% url 'login_page' %}">
                        {% csrf_token %}
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body">
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">{{ login_form.email.label_tag }}</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        {{ login_form.email }}

                                    </div>
                                    {{ login_form.email.errors }}
                                </div>

                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">{{ login_form.password.label_tag }}</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        {{ login_form.password }}

                                    </div>
{#                                <div class="row align-items-center py-3">#}
{#                                    <div class="col-md-3 ps-5">#}
{##}
{#                                        <h6 class="mb-0">{{ login_form.captcha.label}}</h6>#}
{##}
{#                                    </div>#}
{#                                    <div class="col-md-9 pe-5">#}
{##}
{#                                        {{ login_form.captcha }}#}
{##}
{#                                    </div>#}
{#                                    {{ login_form.captcha.errors }}#}
{#                                </div>#}

                                <hr class="mx-n3">

                                <div class="px-5 py-4">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-primary btn-lg" id="ss">ورود
                                    </button>

                                    <a href="http://localhost:8000/register/">ثبت نام</a>
                                </div>

                            </div>
                        </div>
                        </div>
                </form>
            </div>
        </div>
        </div>
    </section>


{% endblock %}
